h1{
    text-align:center;
    font-family:serif;
    color:orange;
    background-color:green;
    cursor:help;
}

h1::first-letter {
    color:red;
    background-color:black;
}

#pc1{
 right:100%;
}


#win{
    text-align:center;
}

h2{
    text-align:center;
    border:dashed gold 10px;
    font-size:100px;
}

.col-sm-4{
    border:aquamarine solid 12px;
    background-color:gray;
}

.rock,.paper,.scissor{
    width:400px;
    height:300px;
    cursor:pointer;
    border-radius:10000px;
}

.after{
    display:flex;
}

h3{
    text-align:center;
    background-color:black;
    color:white;
}

#player, #pc1, #pc2{
    text-align:center;
}

alert{
    color:red;
}

button{
    color:orange;
    opacity:2.0;
    border-radius:500px;
    background-color:Ivory;
     cursor:progress;
}
