h1{
    text-align:center;
    font-family:serif;
    color:orange;
}

h1::first-letter{
    color:red;
    background-color:black;
}

#pc1{
 right:100%;
}


#win{
    text-align:center;
}

h2{
    text-align:center;
    border:dashed gold 10px;
    font-size:100px;
}

.col-sm-4{
    border:aquamarine solid 12px;
    background-color:gray;
}

.rock,.paper,.scissor{
    width:400px;
    height:300px;
}

.after{
    display:flex;
}

h3{
    
}